<h1><%= @author.name %>'s Book List</h1>
<% @author.books.each do |book| %>
  <h3>Title: <%= book.title%></h3>
  <p>Publication Date:<%= book.year_published %></p>
  <p>Genre: <%= book.genre.name %></p>

  <% if book.users.include?(current_user) %>
    <form method="POST" action="/books/<%= book.id %>/remove">
      <p>Remove this book From your colection?</p>
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value='Remove'>
    </form>
  <% elsif logged_in?%>
    <form method='POST' action='/books/<%= book.id %>/add'>
      <p>Add this book to your colection?</p>
      <input type="submit" value='Add'>
    </form>
  <% end %>

  <% if book.original_poster == current_user.id %>
  <p>Edit this book?</p>
    <a href = 'books/<%=book.id%>/edit'>Edit Book</a>
    <form method='POST' action ='books/<%=book.id%>'>
      <p>Delete this book from the database?</p>
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value='Delete'>
    </form>
  <% end %>

<%end%>
