<h1><%=@user.username%>'s Books</h1>
<%@books.each do |book|%>
  <%@user_books.each do |user_books|%>
    <%if user_books.book == book && user_books.user == @user%>
      <h3>Title: <%= book.title %></h3>
      <p>Publication Date:<%= book.year_published %></p>
      <p>Author: <%= book.author.name %></p>
      <p>Genre: <%= book.genre.name %></p>
      <%end%>
  <%end%>
<%end%>
